nav {
    background-color: rgb(16, 92, 235);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;

}

.header-content {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.header-text {
    display: flex;
    flex-direction: column;
}

.header-text h2,
.header-text p {
    margin: 0;
}
